/* ===================================================================================
Global styles
==================================================================================== */

// set up body and container padding/widths/etc ===================================== /
body {
  background-color: $white;
}

/* header styles */
header {
  background: $brand-tertiary-lightest;
  padding: 10px 30px;
}

/* clearfix*/
header:before, header:after {
  content:"";
  display: table;
}

header:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
header {
  zoom:1;
}

div.logo a {
  float: left;
  & img {
  width: 80px;
    height: 41px;
  }
}

.logo-desktop img {
    display: none;
}

.circle:hover {
  fill: $brand-secondary-lightest;
  stroke: $brand-secondary;
}

/*
.burger:hover {fill: $brand-secondary-darker;}
*/

// nav styles
a.to-nav {
  float: right;
  &:hover, :focus {
    color: $brand-secondary-darkest;
  }
  & svg {
    height:40px;
    width: 40px;
  }
}
/* navigation...is there a way to not use id's */

#primary-nav ul {
  list-style: none;
  background: $gray50;
  padding: 5px 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    }
}

#primary-nav li a {
  display: block;
  padding: 0 20px;
  color: $white;
  text-decoration: none;
  font-weight:400;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid $gray30;
}

#primary-nav li:last-child a {
  border-bottom: none;
}

#primary-nav li a:hover, #primary-nav li a:focus {
  color: #1c1c1c;
}
// end header styles


.main { padding: 0 1em; margin: 0; }
.container { width: 100%; max-width: $max-width; margin: auto; padding: auto; background-color: $white}
// do not use the row mixin for the container because the direct child selector will float /

// declare non-grid-related styles for elements ================================ /
section div {
  padding: 1em 0;
}
.nav,
.nested-columns,
.footer {
  background-color: $white;
  div {
    background-color: $gray30;
  }
}

.unnested {
  background-color: transparent;;
}

// style row
.two-columns {
  margin-bottom: 1em;
  display: inline-block;
  @include row;
  div {  background-color: $brand-primary-lightest;  height: $vertical-measure * 10;}

  .left-column {
    width: 49%;
  }
  .right-column {
    width: 49%;
    @include last-2;
  }
}

.three-columns {
  background-color: $gray10;
  margin-bottom: 1em;

  .start-cat {
    @include nesting;
    width: columns(6);
  }

  div {
    background-color: $brand-primary-lightest;
    width: columns(2, 6);
    margin-right: gutter(6); // declare vertical gutter with width of parent in columns as arg
    margin-top: gutter(6);  // added horizontal gutter with width of parent in columns as arg

    .first-column, .second-column, .fourth-column, .fifth-column, .seventh-column, .eighth-column {
      width:columns(2, 6); // declare width in columns
      @include nesting; // remove padding from parent container and float child elements

    }
    .third-column, .sixth-column, .ninth-column {
      width: columns(2, 6);
      @include nesting;
      @include last;
    }
  }

  .unested {
    width: columns(3)
  }

}

.register-form, .testimonials, form, .footer {
 @include centre; // include mixin to centre element contents
}

/* Form styles*/

.register {
  background-color: $gray20;
  & .how-register {
    display: none;
  }
}

input {
  padding: 5px;
  width: 13.3em;
  border: solid 1px $gray50;
  &.submit {
    width: 6em;
    background: $brand-secondary;
    color: $white;
    border: none;
  }
}
/* Form styles end */


.clients {
  font-size: 2.5em;
  margin: 0 0 0.375em;
}

/* footer */
.footer {
  color: $white;
  height: $vertical-measure *1;
  content:"";
  font-style: italic;
  background: $gray50;
}

/* =================================================================================
Break point styles start here 1em => 15px 16px so this is 576px (tablet)
================================================================================= */
@media screen and (min-width: 48em) {

  body {
    background-color: $brand-tertiary-lighter;
  }

  header {
    height: 3em;
  }

  .logo, {
    display: none;
  }

  .container {margin-top: 15px; background-color: $brand-tertiary-lighter}
// tell sections to act like rows for containing columns
  .two-columns,
  .start-promo,
  .three-columns
  .nested-columns,
  .offset-columns
  .unnested {
    @include row; // include row mixin
  }

  .nav { // attribute selector
    margin-bottom: $vertical-measure;
  }

  .start-promo {
    margin-top: 1em;
    @include nesting;
    width: columns(6);
  }
  /* navigation styles*/
   a.to-nav {
     display: none;
   }

  body {
    position: relative;
    margin: auto;
  }

  #primary-nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    padding-top: 0.7em;
    &.logo-desktop {
     padding-top: 0;
    }
    }

  #primary-nav li {
    display: inline;
    &:last-child a {
      display: none;
    }
  }

  #primary-nav li a {
    float: left;
    color: $gray70;
    float: left;
    border: none;
    padding: 0 16px;
  }

  .logo-desktop img {
    display: inline;
    width: 80px;
    height: 41px;
/*
    margin-top: 0.625em;
*/
  }

  li.hide-top {
    display: none;
  }

  .register {
    background-color: $white;
    & .how-register {
      display: inline;
    }
  }

}




