
$max-width:       1000px; // set page max-width
$column-width:    15%;    // set column width
$gutter-width:    2%;     // set gutter width
$maximum-columns: 6;      // set max number of columns

@function columns($columns, $container-columns: $maximum-columns) {  // works out the width of columns
  $width: $columns * $column-width + ($columns - 1) * $gutter-width;
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter-width;
  @return percentage($width / $container-width);
}

@function gutter($container-columns: $maximum-columns, $gutter: $gutter-width) {
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter-width;
  @return percentage($gutter / $container-width);
}

// row mixin includes clearfix hack to clear floating elements within element, last-child margin fix and any global row styles ============= /
@mixin row {
  width: 100%;
  max-width: $max-width;
  margin: 1em auto;
  @include clearfix;
  @include nesting;
}

// target nested elements with grid styles. use in global styles as well as row mixin ============ /
@mixin nesting {
  padding: 0; // remove padding from parent container so floated columns can fill it

  & > div { // target only child elements of the container. add elements other than div as needed
    float: left;
    margin-right: gutter(); // calling the gutter() function to apply to margin-r
    @include border-box;
    height: $vertical-measure * 7;
  }
}

// calculate offset amounts for offset columns =================================================== /
@function offset-columns($columns) {
  $margin: $columns * $column-width + $columns * $gutter-width;
  @return $margin;
}

@mixin offset($from-direction, $columns) {
  @if $from-direction == left {
    float: left;
    margin-left: offset-columns($columns);
  }
  @if $from-direction == right {
    float: right;
    margin-right: offset-columns($columns);
  }
}

// remove margin-right from last element in a row or container so all columns fit ================ /
@mixin last {
  margin-right: 0;
  float: right; // fixes poor alignment with right edge caused by percentage calculations
}

@mixin last-2 {
  margin-right: 0;
  float: left;
}