/*

.widget {
  height: $vertical-measure * 18;
  background-color: $white;
  margin: 0;
  padding: 0;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  width: 100%;
}

ul.tabs li {
  float: left;
  cursor: pointer;
  height: 31px;
  width: 50%;
  line-height: 31px;
  border: 1px solid #999999;
  border-left: none;
  font-weight: bold;
  background: #EEEEEE;
  overflow: hidden;
  position: absolute;
  margin-left: 132px
}

ul.tabs li:hover {
  background: #CCCCCC;
}
ul.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  margin: 0;
}
.tab-container {
  border: 1px solid #999999;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #FFFFFF;
}

.tab-content {
  padding: 20px;
  font-size: 1em;

}*/

/* ============================================================================
 Tabbed content area 2
 ============================================================================ */
#tabs-container {
  padding-top: 0;
}

ul#tabs {
  list-style-type:none;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0 0 0.3em 0;

}
ul#tabs li {
  display: inline;
}
ul#tabs li a {
  color: #42454a;
  background-color: #dedbde;
  border: 1px solid #c9c3ba;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
 /* &:last-child {
    border-left: none;
  }*/
}
ul#tabs li a:hover {
  background-color: #f1f0ee;
}
ul#tabs li a.selected {
  color: #000;
  background-color: #f1f0ee;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em;
}
div.tabContent {
  border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee;
}
div.tabContent.hide {
  display: none;
}

