/* ====================================================================================================================
start CSS reset
====================================================================================================================== */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  line-height: 1;
  font-size: 88%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

/*
end CSS reset
*/
/* =================================================================================================
Typography - limited rules expand on to a complete set as project grows
================================================================================================= */
body {
  font-family: "Open Sans";
  line-height: 1; }

p {
  margin: 0 0 1.375em 0;
  font-size: 1em;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #000000;
  line-height: 2; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

/*

.widget {
  height: $vertical-measure * 18;
  background-color: $white;
  margin: 0;
  padding: 0;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  width: 100%;
}

ul.tabs li {
  float: left;
  cursor: pointer;
  height: 31px;
  width: 50%;
  line-height: 31px;
  border: 1px solid #999999;
  border-left: none;
  font-weight: bold;
  background: #EEEEEE;
  overflow: hidden;
  position: absolute;
  margin-left: 132px
}

ul.tabs li:hover {
  background: #CCCCCC;
}
ul.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  margin: 0;
}
.tab-container {
  border: 1px solid #999999;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #FFFFFF;
}

.tab-content {
  padding: 20px;
  font-size: 1em;

}*/
/* ============================================================================
 Tabbed content area 2
 ============================================================================ */
#tabs-container {
  padding-top: 0; }

ul#tabs {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0 0 0.3em 0; }

ul#tabs li {
  display: inline; }

ul#tabs li a {
  color: #42454a;
  background-color: #dedbde;
  border: 1px solid #c9c3ba;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
  /* &:last-child {
    border-left: none;
  }*/ }

ul#tabs li a:hover {
  background-color: #f1f0ee; }

ul#tabs li a.selected {
  color: #000;
  background-color: #f1f0ee;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em; }

div.tabContent {
  border: 1px solid #c9c3ba;
  padding: 0.5em;
  background-color: #f1f0ee; }

div.tabContent.hide {
  display: none; }

/* ===================================================================================
Global styles
==================================================================================== */
body {
  background-color: white; }

/* header styles */
header {
  background: #F7F7F8;
  padding: 10px 30px; }

/* clearfix*/
header:before, header:after {
  content: "";
  display: table; }

header:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
header {
  zoom: 1; }

div.logo a {
  float: left; }
  div.logo a img {
    width: 80px;
    height: 41px; }

.logo-desktop img {
  display: none; }

.circle:hover {
  fill: #F8473A;
  stroke: #ca1407; }

/*
.burger:hover {fill: $brand-secondary-darker;}
*/
a.to-nav {
  float: right; }
  a.to-nav:hover, a.to-nav :focus {
    color: #4F0803; }
  a.to-nav svg {
    height: 40px;
    width: 40px; }

/* navigation...is there a way to not use id's */
#primary-nav ul {
  list-style: none;
  background: gray;
  padding: 5px 0; }
  #primary-nav ul:first-child {
    padding-top: 0; }
  #primary-nav ul:last-child {
    padding-bottom: 0; }

#primary-nav li a {
  display: block;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #b3b3b3; }

#primary-nav li:last-child a {
  border-bottom: none; }

#primary-nav li a:hover, #primary-nav li a:focus {
  color: #1c1c1c; }

.main {
  padding: 0 1em;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: auto;
  background-color: white; }

section div {
  padding: 1em 0; }

.nav,
.nested-columns,
.footer {
  background-color: white; }
  .nav div,
  .nested-columns div,
  .footer div {
    background-color: #b3b3b3; }

.unnested {
  background-color: transparent; }

.two-columns {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  zoom: 1;
  padding: 0; }
  .two-columns:before, .two-columns:after {
    content: "";
    display: table; }
  .two-columns:after {
    clear: both; }
  .two-columns > div {
    float: left;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 7em; }
  .two-columns div {
    background-color: #B4CFBE;
    height: 10em; }
  .two-columns .left-column {
    width: 49%; }
  .two-columns .right-column {
    width: 49%;
    margin-right: 0;
    float: left; }

.three-columns {
  background-color: #e6e6e6;
  margin-bottom: 1em; }
  .three-columns .start-cat {
    padding: 0;
    width: 100%; }
    .three-columns .start-cat > div {
      float: left;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 7em; }
  .three-columns div {
    background-color: #B4CFBE;
    width: 32%;
    margin-right: 2%;
    margin-top: 2%; }
    .three-columns div .first-column, .three-columns div .second-column, .three-columns div .fourth-column, .three-columns div .fifth-column, .three-columns div .seventh-column, .three-columns div .eighth-column {
      width: 32%;
      padding: 0; }
      .three-columns div .first-column > div, .three-columns div .second-column > div, .three-columns div .fourth-column > div, .three-columns div .fifth-column > div, .three-columns div .seventh-column > div, .three-columns div .eighth-column > div {
        float: left;
        margin-right: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 7em; }
    .three-columns div .third-column, .three-columns div .sixth-column, .three-columns div .ninth-column {
      width: 32%;
      padding: 0;
      margin-right: 0;
      float: right; }
      .three-columns div .third-column > div, .three-columns div .sixth-column > div, .three-columns div .ninth-column > div {
        float: left;
        margin-right: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 7em; }
  .three-columns .unested {
    width: 49%; }

.register-form, .testimonials, form, .footer {
  text-align: center;
  vertical-align: middle;
  line-height: inherit; }

/* Form styles*/
.register {
  background-color: #cccccc; }
  .register .how-register {
    display: none; }

input {
  padding: 5px;
  width: 13.3em;
  border: solid 1px gray; }
  input.submit {
    width: 6em;
    background: #ca1407;
    color: white;
    border: none; }

/* Form styles end */
.clients {
  font-size: 2.5em;
  margin: 0 0 0.375em; }

/* footer */
.footer {
  color: white;
  height: 1em;
  content: "";
  font-style: italic;
  background: gray; }

/* =================================================================================
Break point styles start here 1em => 15px 16px so this is 576px (tablet)
================================================================================= */
@media screen and (min-width: 48em) {
  body {
    background-color: #E8E7E7; }
  header {
    height: 3em; }
  .logo {
    display: none; }
  .container {
    margin-top: 15px;
    background-color: #E8E7E7; }
  .two-columns,
  .start-promo,
  .three-columns
.nested-columns,
  .offset-columns
.unnested {
    width: 100%;
    max-width: 1000px;
    margin: 1em auto;
    zoom: 1;
    padding: 0; }
    .two-columns:before, .two-columns:after,
    .start-promo:before,
    .start-promo:after,
    .three-columns
.nested-columns:before,
    .three-columns
.nested-columns:after,
    .offset-columns
.unnested:before,
    .offset-columns
.unnested:after {
      content: "";
      display: table; }
    .two-columns:after,
    .start-promo:after,
    .three-columns
.nested-columns:after,
    .offset-columns
.unnested:after {
      clear: both; }
    .two-columns > div,
    .start-promo > div,
    .three-columns
.nested-columns > div,
    .offset-columns
.unnested > div {
      float: left;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 7em; }
  .nav {
    margin-bottom: 1em; }
  .start-promo {
    margin-top: 1em;
    padding: 0;
    width: 100%; }
    .start-promo > div {
      float: left;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 7em; }
  /* navigation styles*/
  a.to-nav {
    display: none; }
  body {
    position: relative;
    margin: auto; }
  #primary-nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    padding-top: 0.7em; }
    #primary-nav.logo-desktop {
      padding-top: 0; }
  #primary-nav li {
    display: inline; }
    #primary-nav li:last-child a {
      display: none; }
  #primary-nav li a {
    float: left;
    color: #4d4d4d;
    float: left;
    border: none;
    padding: 0 16px; }
  .logo-desktop img {
    display: inline;
    width: 80px;
    height: 41px;
    /*
    margin-top: 0.625em;
*/ }
  li.hide-top {
    display: none; }
  .register {
    background-color: white; }
    .register .how-register {
      display: inline; } }
